/* Polish letters */
ZMK_UNICODE_PAIR(pl_a,     N0, N1, N0, N5,   N0, N1, N0, N4)  //¹ ¥
ZMK_UNICODE_PAIR(pl_e,     N0, N1, N1, N9,   N0, N1, N1, N8)  //ê Ê
ZMK_UNICODE_PAIR(pl_o,     N0, N0, F, N3,    N0, N0, D, N3)   //ó Ó
ZMK_UNICODE_PAIR(pl_l,     N0, N1, N4, N2,   N0, N1, N4, N2)  //³ £
ZMK_UNICODE_PAIR(pl_z,     N0, N1, N7, C,    N0, N1, N7, B)   //¿ ¯
ZMK_UNICODE_PAIR(pl_s,     N0, N1, N5, B,    N0, N1, N5, A)   //œ Œ
ZMK_UNICODE_PAIR(pl_c,     N0, N1, N0, N7,   N0, N1, N0, N6)  //æ Æ
ZMK_UNICODE_PAIR(pl_n,     N0, N1, N4, N4,   N0, N1, N4, N3)  //ñ Ñ